function CatMario.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 3
push constant 2
neg
pop this 4
push constant 2
pop this 5
push constant 255
pop this 6
push constant 1
pop this 8
push constant 0
pop this 9
push constant 30
pop this 10
push pointer 0
return
function CatMario.drawCatMario 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 16384
push this 1
push constant 32
call Math.multiply 2
add
push this 2
add
pop this 0
push this 0
push constant 32
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 80
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 80
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 32632
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 32632
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16644
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 15972
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 52
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 900
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 900
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 900
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16388
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 18436
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 9220
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 9224
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 10224
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 512
add
push constant 16
call Memory.poke 2
pop temp 0
push this 0
push constant 544
add
push constant 8
call Memory.poke 2
pop temp 0
push this 0
push constant 576
add
push constant 4
call Memory.poke 2
pop temp 0
push this 0
push constant 608
add
push constant 2
call Memory.poke 2
pop temp 0
push this 0
push constant 640
add
push constant 34
call Memory.poke 2
pop temp 0
push this 0
push constant 672
add
push constant 81
call Memory.poke 2
pop temp 0
push this 0
push constant 704
add
push constant 73
call Memory.poke 2
pop temp 0
push this 0
push constant 736
add
push constant 69
call Memory.poke 2
pop temp 0
push this 0
push constant 768
add
push constant 66
call Memory.poke 2
pop temp 0
push this 0
push constant 800
add
push constant 64
call Memory.poke 2
pop temp 0
push this 0
push constant 832
add
push constant 64
call Memory.poke 2
pop temp 0
push this 0
push constant 864
add
push constant 64
call Memory.poke 2
pop temp 0
push this 0
push constant 896
add
push constant 32
call Memory.poke 2
pop temp 0
push this 0
push constant 928
add
push constant 6176
call Memory.poke 2
pop temp 0
push this 0
push constant 960
add
push constant 26128
call Memory.poke 2
pop temp 0
push this 0
push constant 992
add
push constant 32496
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 1024
add
push constant 136
call Memory.poke 2
pop temp 0
push this 0
push constant 1056
add
push constant 68
call Memory.poke 2
pop temp 0
push this 0
push constant 1088
add
push constant 68
call Memory.poke 2
pop temp 0
push this 0
push constant 1120
add
push constant 56
call Memory.poke 2
pop temp 0
push this 0
push constant 1
add
push constant 2
call Memory.poke 2
pop temp 0
push this 0
push constant 33
add
push constant 5
call Memory.poke 2
pop temp 0
push this 0
push constant 65
add
push constant 5
call Memory.poke 2
pop temp 0
push this 0
push constant 97
add
push constant 8
call Memory.poke 2
pop temp 0
push this 0
push constant 129
add
push constant 8
call Memory.poke 2
pop temp 0
push this 0
push constant 161
add
push constant 16
call Memory.poke 2
pop temp 0
push this 0
push constant 193
add
push constant 44
call Memory.poke 2
pop temp 0
push this 0
push constant 225
add
push constant 56
call Memory.poke 2
pop temp 0
push this 0
push constant 257
add
push constant 39
call Memory.poke 2
pop temp 0
push this 0
push constant 289
add
push constant 39
call Memory.poke 2
pop temp 0
push this 0
push constant 321
add
push constant 39
call Memory.poke 2
pop temp 0
push this 0
push constant 353
add
push constant 32
call Memory.poke 2
pop temp 0
push this 0
push constant 385
add
push constant 32
call Memory.poke 2
pop temp 0
push this 0
push constant 417
add
push constant 33
call Memory.poke 2
pop temp 0
push this 0
push constant 449
add
push constant 17
call Memory.poke 2
pop temp 0
push this 0
push constant 481
add
push constant 8
call Memory.poke 2
pop temp 0
push this 0
push constant 513
add
push constant 8
call Memory.poke 2
pop temp 0
push this 0
push constant 545
add
push constant 16
call Memory.poke 2
pop temp 0
push this 0
push constant 577
add
push constant 32
call Memory.poke 2
pop temp 0
push this 0
push constant 609
add
push constant 64
call Memory.poke 2
pop temp 0
push this 0
push constant 641
add
push constant 68
call Memory.poke 2
pop temp 0
push this 0
push constant 673
add
push constant 138
call Memory.poke 2
pop temp 0
push this 0
push constant 705
add
push constant 146
call Memory.poke 2
pop temp 0
push this 0
push constant 737
add
push constant 162
call Memory.poke 2
pop temp 0
push this 0
push constant 769
add
push constant 66
call Memory.poke 2
pop temp 0
push this 0
push constant 801
add
push constant 2
call Memory.poke 2
pop temp 0
push this 0
push constant 833
add
push constant 2
call Memory.poke 2
pop temp 0
push this 0
push constant 865
add
push constant 2
call Memory.poke 2
pop temp 0
push this 0
push constant 897
add
push constant 2
call Memory.poke 2
pop temp 0
push this 0
push constant 929
add
push constant 4
call Memory.poke 2
pop temp 0
push this 0
push constant 961
add
push constant 4
call Memory.poke 2
pop temp 0
push this 0
push constant 993
add
push constant 8
call Memory.poke 2
pop temp 0
push this 0
push constant 1025
add
push constant 17
call Memory.poke 2
pop temp 0
push this 0
push constant 1057
add
push constant 34
call Memory.poke 2
pop temp 0
push this 0
push constant 1089
add
push constant 34
call Memory.poke 2
pop temp 0
push this 0
push constant 1121
add
push constant 28
call Memory.poke 2
pop temp 0
push constant 0
return
function CatMario.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function CatMario.erase 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
push constant 32
call Math.multiply 2
add
push argument 2
add
pop this 0
push this 0
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 640
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 672
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 704
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 736
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 768
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 800
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 832
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 864
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 896
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 928
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 960
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 992
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1024
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1056
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1088
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1120
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 33
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 65
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 513
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 545
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 577
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 609
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 641
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 673
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 705
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 737
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 769
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 801
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 833
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 865
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 897
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 929
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 961
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 993
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1025
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1057
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1089
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1121
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function CatMario.IsDie 0
push argument 0
pop pointer 0
push this 1
push constant 219
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function CatMario.IsOnBlock 0
push argument 0
pop pointer 0
push argument 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 255
pop this 6
push this 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 6
neg
pop this 4
push constant 1
pop this 3
label IF_FALSE1
push constant 0
return
label IF_FALSE0
push argument 2
push constant 1
neg
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 16
add
pop this 8
push constant 0
return
goto IF_END2
label IF_FALSE2
push this 6
push argument 1
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
pop this 6
push constant 0
return
label IF_FALSE3
label IF_END2
push constant 0
return
function CatMario.IsJump 1
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push this 4
push this 4
call Math.multiply 2
call Math.multiply 2
push constant 2
call Math.divide 2
pop local 0
goto IF_END1
label IF_FALSE1
push this 5
push this 4
push this 4
call Math.multiply 2
call Math.multiply 2
neg
push constant 2
call Math.divide 2
pop local 0
label IF_END1
push pointer 0
push this 1
push this 2
call CatMario.erase 3
pop temp 0
push this 1
push local 0
sub
pop this 1
push this 4
push constant 1
sub
pop this 4
push this 1
push this 8
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 8
push constant 1
add
pop this 1
push constant 0
pop this 8
push constant 2
neg
pop this 4
label IF_FALSE2
push this 1
push constant 35
add
push this 6
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
push constant 1
sub
push constant 35
sub
pop this 1
push constant 0
pop this 3
push constant 6
pop this 4
push constant 1
pop this 8
label IF_FALSE3
push pointer 0
push this 1
push this 2
call CatMario.drawCatMario 3
pop temp 0
push constant 40
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function CatMario.SetJump 0
push argument 0
pop pointer 0
push constant 1
pop this 3
push constant 0
return
function CatMario.MoveLeft 0
push argument 0
pop pointer 0
push this 2
push this 9
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 1
push this 2
call CatMario.erase 3
pop temp 0
push this 2
push constant 1
sub
pop this 2
push pointer 0
push this 1
push this 2
call CatMario.drawCatMario 3
pop temp 0
label IF_FALSE0
push constant 0
return
function CatMario.MoveRight 0
push argument 0
pop pointer 0
push this 2
push this 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 1
push this 2
call CatMario.erase 3
pop temp 0
push this 2
push constant 1
add
pop this 2
push pointer 0
push this 1
push this 2
call CatMario.drawCatMario 3
pop temp 0
label IF_FALSE0
push constant 0
return
function CatMario.getRaw 0
push argument 0
pop pointer 0
push this 1
return
function CatMario.getCol 0
push argument 0
pop pointer 0
push this 2
return
